header {
    background-color: yellowgreen;
    color: white;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

footer {
    background-color: yellowgreen;
    color: black;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sideNavbar {
    background-color: rgb(250, 232, 222);
    width: 150px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebarItem {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.sidebarItem .sidebarLink {
    text-decoration: none;
    color: rgb(102, 102, 102);
    padding: 0.5rem;
    display: block;
    transition: 0.3s;
}

.sidebarItem .sidebarLink:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
    .sideNavbar {
        width: 200px;
    }
}
