.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 50px;
}

.container h2 {
    font-size: 40px;
}

.container button, .container input, .container select {
    width: 50%;
    height: 20%;
    font-size: 20px;
    border-radius: 0.5rem;
    margin: 20px;
}
